<div class="page-header clearfix">
			<h1 class="page-title"><%= @service.name %></h1>
</div>
<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @service.company_id %>
</p>

<p>
  <b>Name:</b>
  <%= @service.name %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
