<div class="page-header clearfix">
			<h1 class="page-title"><%= @company.name %></h1>
</div><!-- end .page-header -->
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>
	<% unless @company.services.empty? %>
<p>
	<b>Current Services:</b>
	          <%= render @services %> <br /> <br />
	     
	
	<strong>Number of services:</strong> <%= @company.services.count %>
</p>
	 <% end %>
	<% unless @users.empty? %>
<p>
	<b>Current Users:</b>
	          <%= render @users %> <br /> <br />
	  
	
	<strong>Number of Users:</strong> <%= @users.count %>
	  
</p>
  <% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
