<div class="page-header clearfix">
			<h1 class="page-title"><%= @company.name %></h1>
</div><!-- end .page-header -->

<p id="notice"><%= notice %></p>
<div class="one-half">
<h4>Company Information</h4>
<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>
	
</div><!-- end .three-fourth -->

<div class="one-half last">
<% unless @company.services.empty? %>
	<h4>Company Usage</h4>

	<div class="infobox">

	<p>
		<b>Current Services</b> <br />
		         
		<%= render @services %>

	</p>
		 <% end %>
		<% unless @users.empty? %>
	<p>
		<b>Current Users</b>
		       <br />   <%= render @users %> <br /> <br />


	</p>
	 
		
	</div>
 <% end %>
	
</div><!-- end .one-fourthlast -->


	

<h4><%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %> </h4>
