<div class="page-header clearfix">
			<h1 class="page-title">Sign In</h1>
</div>
<div class="form">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
 
<div style="display:block; padding-left:35%; text-align:left;">

 <p class="input-block"> <%= f.label :email %>
  <%= f.email_field :email %>
</p>

 <p class="input-block"><%= f.label :password %>
  <%= f.password_field :password %></p>

  <div><%= f.submit "Sign in" %></div>

<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
</div>